@model ProyectoFinal2._0.Cargo

@{
    ViewBag.Title = "Details";
}

<h2>detalles</h2>

<div>
    <h4>Cargo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cargo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "editar", new { id = Model.cargoId }) |
    @Html.ActionLink("volver a la lista", "Index")
</p>
