@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Recursos Humanos</h1>
    <p class="lead">
        Aqui se realizaran mantenimientos, procesos y informes correspondiente al manejo de el departamento de
        recursos humanos.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empleados</h2>

        <p>
            Modulo donde se crea, edita y eliminan los empleados.
        </p>
        <p><a href="~/Empleados/Index" class="btn btn-primary btn-lg">Ir</a></p>
    </div>
    <div class="col-md-4">
        <h2>Departamentos</h2>
        <p>
            Modulo donde se crea, edita y eliminan los departamentos.
        </p>
        <p><a href="~/Departamentos/Index" class="btn btn-primary btn-lg">Ir</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cargos</h2>
        <p>
            Modulo donde se crea, edita y eliminan los cargos.
        </p>
        <p><a href="~/Cargo/Index" class="btn btn-primary btn-lg">Ir</a></p>
    </div>
</div>